.containerTable {
  overflow: auto;
  height: var(--containertable-height);
  max-height: var(--containertable-height);
  scroll-margin-top: 10px;
}

.containerTable thead{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}


.containerTable::-webkit-scrollbar {
  -webkit-appearance: none;
}

.containerTable::-webkit-scrollbar:vertical {
  width:10px;
}

.containerTable::-webkit-scrollbar-button:increment,
.containerTable::-webkit-scrollbar-button {
  display: none;
}

.containerTable::-webkit-scrollbar:horizontal {
  height: 10px;
}

.containerTable::-webkit-scrollbar-thumb {
  background-color: var(--color-primario);
  border: 2px solid var(--color-primario);
}

.containerTable::-webkit-scrollbar-track {
  margin-top: 1px;
}

.table{
  table-layout: fixed;
}

@media (max-width: 1200px) {
  .table{
    table-layout: auto;
  }

  .card-body{
    padding:0.5rem;
  }
}

@media (max-width: 768px) {

  .containerTable::-webkit-scrollbar {
    display:none;
  }

  .card-body{
    padding:0.5rem;
  }
}