:root {
  --containertable-height: 75vh;
}

html,
body {
    height: 100%;
}
.page-contentClass{
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

.border-template{
    border: 0.5px solid #bdc3c7;
    border-radius: 2px;
}

/* color principal de fondo  */
.background-template-color{
    background-color: #37A398;
}

/* color secundario de fondo */
.background-template-color2{
    background-color: #63BBB2;
}

/* color de fondo segun el texto  */
.background-template-text{
    background-color: #1D635D;
}

/* color de texto segun el fondo */
.text-template-background{
    color: #1D635D;
}

/* color de texto principal */
.text-template-color{
    color:  #F5F3F3;
}

.progressBar{
  animation-name: loadProgress;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

a[aria-selected="true"]{
    background-color: #37A398;
}

@keyframes loadProgress{
  from {
    width: 0%;
}
to {
    width: 100%;
}
}

.turnI{
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#v-pills-tab a{
    border: 0.1rem solid lightgray;
    margin-right:.5rem;
}


@keyframes rotation {
  0% {
    transform:rotate(0deg);
}
100% {
    transform:rotate(360deg);
}
}

@media (max-width: 1200px) {
  html, body{
    font-size:1rem;
  }
}

@media (max-width: 768px) {
  html, body{
    font-size:1rem;
  }


  .notShowMobile{
    display: none;
}
}