:root {
    --containertable-height: 75vh;

    --color-secundario:#37A398; /*verde celeste*/
    --color-secundario-opacidad:#37A39899;

    --color-primario:#1D635D; /*verde azul color principal*/
}

html,
body {
    height: 100%;
}
.page-contentClass{
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

/* color principal de fondo  */
.background-template-color{
    background-color: var(--color-secundario);
}

/* color de texto segun el fondo */
.text-template-background{
    color: var(--color-primario);
}

/* color de texto principal */
.text-template-color{
    color:  white;
}

a[aria-selected="true"]{
    background-color: var(--color-secundario);
    color: white;
}

#v-pills-tab a{
    border: 0.1rem solid lightgray;
    margin-right:.5rem;
}




.navItemDown{
    position:absolute;
    bottom:0.5rem;
    right:0;
    left:0.5rem;
}



@keyframes rotation {
  0% {
    transform:rotate(0deg);
}
100% {
    transform:rotate(360deg);
}
}

@media (max-width: 1200px) {
  html, body{
    font-size:1rem;
  }
}

@media (max-width: 768px) {
  html, body{
    font-size:1rem;
  }


    .notShowMobile{
        display: none;
    }


    .navItemDown{
        position:absolute;
        bottom:0.5rem;
        right:0;
        left:0.5rem;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .navItemDown{
        position:absolute;
        bottom:0.5rem;
        right:0;
        left:0.5rem;
    }
}



@media (max-width: 499px) {
    .navItemDown{
        position:absolute;
        bottom:0.5rem;
        right:0;
        left:0.5rem;
    }
}

.float-end{
    float: right!important;
}