.form__group {
  position: relative;
  padding: 1rem 0 0;
  margin-top: 0.5rem;
}

.form__field { /*input text*/
  width: 100%;
  height: 100%;
  border: 0;
  border-bottom: 0.1rem solid lightgrey;
  outline: 0;
  font-size: 1.1rem;
  padding: 0.5rem 0 0 3%;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field:placeholder-shown, .form__label{
  font-size: 1.1rem;
  cursor: text;
  top: 1rem;
}

.form__field:focus {
  padding-bottom: 0.3rem;
  border-width: 0.1rem;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}


.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  font-weight:500;
}

.form__field:required{ box-shadow:none; }
.form__field:invalid{ box-shadow:none; }


.form__label_checkbox {
  top: 0;
  transition: 0.2s;
  font-size: 1rem;
  font-weight:500;
  cursor: text;
  display: inline-flex;
}

.form__field_checkbox { /*input check*/
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid grey;
  border-radius: 0.1rem;
  margin-left: 0.5rem;
  flex-shrink: 0;
  transition: all 250ms cubic-bezier(0.32,1,0.23,1) 100ms;
}


.form__field_colorpicker { /* input color */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.form__field_colorpicker::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid #999999;
}
.form__field_colorpicker::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid #999999;
}


.form__field_color { /*input color*/
  width: 100%;
  border: 0;
  border-bottom: 0.1rem solid lightgrey;
  outline: 0;
  font-size: 1.1rem;
  padding: 0.5rem 0 0 3%;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field_select {
  cursor: pointer;
  margin-left: 0.5rem;
  border: 0.1rem solid lightgrey;
  outline: 0;
  font-size: 1.1rem;
  padding: 0.5rem 0 0 3%;
}

.input_uppercase{
  text-transform:uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}


.badge {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  background-clip: padding-box;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
}




.modal-dialog{
  max-width: 50%;
}
