{% extends "base.twig" %}
{% block head %}
<!--link rel="stylesheet" type="text/css" href="{{ path_for('Start')}}styles/globalStyles.css"-->
{% endblock %}
{% block content %}
<div class="w-100 row justify-between-content">
	<div class="card w-25">
		<p>{{company.rut}}</p>
	</div>
	<div class="card w-75">
		<p>{{company.rut}}</p>
	</div>
</div>
{% endblock %}