{% extends "base.twig" %}
{% block head %}
<!--link rel="stylesheet" type="text/css" href="{{ path_for('Start')}}styles/globalStyles.css"-->
{% endblock %}
{% block content %}
{% if mailUserLogued %}
<div class="card w-100">
	<div class="card-header" >Trabajando con &nbsp; {{rutUserLogued}}</div>
	<div class="card-body" >

		<div class="">
			<table>
				<thead>
					<tr>
						<th>Razón social</th>
						<th>Estado</th>
						<th>Vencimiento certificados</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
{% else %}
<h3 class="text-template-background font-italic text-center">ADMINISTRADOR de EFACTURA</h3>
{% endif %}
{% endblock %}