<div class="tab-pane fade" id="customers-data" role="tabpanel">
	<div class="containerTable">
		
		<div class="d-flex flex-row mb-2">
			<div class="col">
				<label class="col-3 col-form-label" style="min-width:222px; max-width:222px; font-weight: 700"> Clientes: </label>
			</div>
			<button onclick="showModalNewCustomer()" type="button" class="btn btn-success align-self-right mr-2"> <i class="fas fa-plus"></i> Nuevo</button>
		</div>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th class="col-1"></th>
					<th class="col-3">Nombre</th>
					<th class="col-3">Documento</th>
					<th class="col-3">Correo</th>
					<th class="col-2">Teléfono</th>
				</tr>
			</thead>
			<tbody id="customersTableBody">
				
			</tbody>
		</table>
	</div>
</div>