<div class="dropdown" id="dopdownClientFilter" >

	<button type="button" class="buttonNoStyle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownStatusFilter">
		Estado
		<span class="material-icons fa-sm">filter_list</span>
	</button>


	<div id="idOrderBudgetClientFilter" class="dropdown-menu" aria-labelledby="dropdownStatusFilter">

		<div class="text-center d-flex">

			<div class="subtexto divAsAnchor" onclick="selectAllOpFilter('idFormBudgetListClientFilter')">
				Seleccionar todo
			</div>

			<p class="subtexto" style="color: #007bff;text-decoration: none;display:inline-block;">-</p>

			<div class="subtexto divAsAnchor" onclick="unselectOpFilter('idFormBudgetListClientFilter')">
			Borrar
			</div>
		</div>


	    <form id="idFormBudgetListClientFilter" >
	    	<div class="overflow-auto" style="height:20vh;">
	        	<div class="dropdown-item">
	        		<input type="checkbox" checked name="" value="1">
	        		<label >Pendiente usuario</label>
	        	</div>
	            <div class="dropdown-item">
	            	<input type="checkbox" checked name="" value="2">
	            	<label>Pendiente postulaci贸n</label>
	            </div>
	            <div class="dropdown-item">
	            	<input type="checkbox" checked name="" value="3">
	            	<label>Pendiente aprobaci贸n</label>
	            </div>
	            <div class="dropdown-item">
	            	<input type="checkbox" checked name="" value="4">
	            	<label>Pendiente certificaci贸n</label>
	            </div>
	            <div class="dropdown-item">
	            	<input type="checkbox" checked name="" value="5">
	            	<label>Pendiente resoluci贸n</label>
	            </div>
	            <div class="dropdown-item">
	            	<input type="checkbox" checked name="" value="6">
	            	<label>Emisor habilitado</label>
	            </div>
	            <div class="dropdown-item">
	            	<input type="checkbox" checked name="" value="7">
	            	<label>Emisor no habilitado</label>
	            </div>
	            <div class="dropdown-item">
	            	<input type="checkbox" checked name="" value="8">
	            	<label>En espera para comenzar</label>
	            </div>
	    	</div>
	        <div class="d-flex float-right mr-4">
	        	<button type="button" name="" class="btn btn-light"onclick="$('#dropdownStatusFilter').dropdown('hide')">Cancelar</button>
	        	<button type="button" name="" class="btn btn-success" onclick="formFilter('idFormBudgetListClientFilter')">Aceptar</button>
	        </div>
		</form>
	</div>
</div>