<footer id="sticky-footer" class="text-white background-template-color">
	<div class="d-flex justify-content-center" >
		<small class="text-white m-3"><a class="text-white" href="https://byg.uy">www.byg.uy</a> &copy; 2022</small>
	</div>
</footer>