<div class="tab-pane fade" id="importar-receipt" role="tabpanel">
	<div class="containerTable" style="max-height: 30%;">

		<form method="POST" id="idFormLoadCfeXmlReceipt">
			<div class="d-flex justify-content-between">
				<input type="file" name="nameFileCfeXml[]" multiple accept=".zip,.xml">
				<div>
			        <input type="submit" name="" class="btn btn-success" id="submitLoadCfeReceipt" value="Importar">

				</div>
			</div>
		</form>
		<br><br>
		<div class="containerTable" style="max-height: 80%;">
			<table class="table">
				<thead>
					<tr>
						<td class="col-12 col-md-10 col-xl-8">Respuesta</td>
					</tr>
				</thead>
				<tbody id="tbodyImportCfeReceiptResponse"></tbody>
			</table>
		</div>
	</div>
</div>