<div class="tab-pane fade" id="importar-data" role="tabpanel">
	<form method="POST" id="idFormLoadCfeXml">
		<div class="d-flex justify-content-between">
			<input type="file" name="nameFileCfeXml[]" multiple accept=".zip,.xml">
			<input type="submit" name="" class="btn btn-success" value="Importar">
		</div>
	</form>
</div>