<div class="tab-pane fade" id="estadisticas-data" role="tabpanel">
	<div class="containerTable">
		<table class="table">
			<thead>
				<tr>
					<th>Período</th>
					<th>Tipo de CFE</th>
					<th>Usados</th>
				</tr>
			</thead>
    		<tbody id=""></tbody>
    	</table>
	</div>
</div>