<div class="tab-pane fade" id="estadisticas-data" role="tabpanel">
	<div class="d-flex flex-row-reverse">
		<select id="idSelectDateReports" class="custom-select custom-select-sm shadow-sm col-3">
			<option value="202209">2022-09</option>
		</select>
	</div>
	<div class="containerTable">
		<table class="table">
			<thead>
				<tr>
					<th>Tipo de CFE</th>
					<th>Usados</th>
				</tr>
			</thead>
    		<tbody id="tbodyCompaniesReports"></tbody>
    	</table>
	</div>
</div>