<div class="tab-pane fade" id="colors-data" role="tabpanel">
	<div class="container-fluid">
		<div class="float-end">
			<button class="btn btn-info" data-toggle="modal" data-target="#modalPreviewVoucher" >vista previa</button>
			<button class="btn btn-info" title="Deshacer todo" onclick="companieColorsDefault()" ><i class="fas fa-undo"></i></button>
		</div>
		<form method="POST" id="formCompanieColors">
		<h5 class="pt-3">Columnas</h5>
		<table class="table">
    		<tbody id="">
				<tr class="row">
					<td class="col-md-2 col-12">
						<input type="color" id="inputCompColorDescColor" name="color1" onchange="assignColor(this.value, inputCompColorDescription)" class="form__field_colorpicker m-2">
					</td>
					<td class="col-md-10 col-12">
						<input type="text" id="inputCompColorDescription" name="color1" onchange="assignColor(this.value, inputCompColorDescColor)" class="form__field" placeholder="Color columnas 'Descripción' y 'Cantidad'" />
					</td>
				</tr>
				<tr class="row">
					<td class="col-md-2 col-12">
						<input type="color" id="inputCompColorPrecioColor" name="" class="form__field_colorpicker m-2" onchange="assignColor(this.value, inputCompColorPrecio)">
					</td>
					<td class="col-md-10 col-12">
						<input type="text" id="inputCompColorPrecio" name="" class="form__field" onchange="assignColor(this.value, inputCompColorPrecioColor)" placeholder="Color columna 'P. Unitario'" />
					</td>
				</tr>
    		</tbody>
    	</table>
		<h5 class="pt-3">Texto</h5>
    	<table class="table">
    		<tbody id="">
    			<tr class="row">
					<td class="col-md-2 col-12">
						<input type="color" id="inputCompColorTextoTotalColor" name="" class="form__field_colorpicker m-2" onchange="assignColor(this.value, inputCompColorTextoTotal)">
					</td>
					<td class="col-md-10 col-12">
						<input type="text" id="inputCompColorTextoTotal" name="" class="form__field" onchange="assignColor(this.value, inputCompColorTextoTotalColor)" placeholder="Color del texto de las columna '#' y Total'" />
					</td>
				</tr>
				<tr class="row">
					<td class="col-md-2 col-12"></td>
					<td class="col-md-5 col-12">
						<input type="text" id="inputCompColorTamEmisor" name="color1" class="form__field" placeholder="Tamaño del nombre de la empresa emisora" />
					</td>
					<td class="col-md-5 col-12">
						<select class="form__field" >
							<option value="em" selected>em</option>
							<option value="rem">rem</option>
							<option value="px">px</option>
						</select>
					</td>
				</tr>
    		</tbody>
    	</table>
		<h5 class="pt-3">Lineas del listado detalle</h5>
    	<table class="table">
    		<tbody id="">
    			<tr class="row">
					<td class="col-md-2 col-12">
						<input type="color" id="inputCompColorDetailLineColor" name="" class="form__field_colorpicker m-2" onchange="assignColor(this.value, inputCompColorDetailLine)">
					</td>
					<td class="col-md-10 col-12">
						<input type="text" id="inputCompColorDetailLine" name="" class="form__field" onchange="assignColor(this.value, inputCompColorDetailLineColor)" placeholder="Color de las líneas que dividen las filas de detalle" />
					</td>
				</tr>
				<tr class="row">
					<td class="col-md-2 col-12"></td>
					<td class="col-md-10 col-12">
						<select class="form__field" >
							<option value="solid" selected>Solida</option>
							<option value="dashed" >Punteada</option>
						</select>
					</td>
				</tr>
				<tr class="row">
					<td class="col-md-2 col-12"></td>
					<td class="col-md-5 col-12">
						<input type="text" id="inputCompColorDetailLineWidth" name="color1" class="form__field" placeholder="Tamaño del ancho las líneas que dividen las filas de detalle" />
					</td>
					<td class="col-md-5 col-12">
						<select class="form__field" >
							<option value="em" selected>em</option>
							<option value="rem">rem</option>
							<option value="px">px</option>
						</select>
					</td>
				</tr>
    		</tbody>
    	</table>


        <div class="d-flex flex-row-reverse p-1">
			<button  id="buttonSubmitCompanieColors" type="submit" class="btn btn-success" disabled>Guardar cambios</button>
        </div>
	    </form>
	</div>
</div>
{% include("modalPreviewVoucher.twig") %}