<div class="tab-pane active show" id="other-data" role="tabpanel">
	<div class="containerTable">
			<table class="table">
	    		<tbody id="">
					<form method="POST" id="formCompanieOherInfo">
					<tr>
						<div class="form__group field d-flex">
							<input type="text" id="tdBranchDataColorpicker" name="color1" maxlength="120" onchange="changeColorpickerPrincipal(this.value)" class="form__field m-2">
						</div>
					</tr>
	    		</tbody>
	    	</table>


	        <div class="d-flex flex-row-reverse m-2 p-1">
				<button  id="buttonSubmitCompanieColors" type="submit" class="btn btn-success" disabled>Guardar cambios</button>
				<button  id="buttonSubmitCompanieColors" type="submit" class="btn btn-success" disabled>Guardar cambios</button>
	        </div>
	    </form>
	</div>
</div>