{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
{% if mailUserLogued %}
<div class="card w-100">
	RECIBIDOS
</div>
{% endif %}
{% block script %}
{% endblock %}
{% endblock %}