<div class="tab-pane fade" id="recibidos-data" role="tabpanel">
	<div class="containerTable recibidos" style="max-height: 30%;">
		
		<div class="d-flex flex-row mb-2">
			<div class="col">
				<label class="col-3 col-form-label pl-0" style="min-width:222px; max-width:222px; font-weight: 700"> Comprobantes Recibidos: </label>
			</div>
			{# <div >
				<input type="text" class="form__field" placeholder="Buscar cliente" style="height: 2.5rem;" id="clientesSearchBar" onkeyup="evaluateSearch();" />
			</div>
			<div class="mr-3">
				<button style="background-color: transparent; border: none; height: 33px; width:33px; line-height: 44px;" id="clientesSearchButton" onclick="searchClientes()">
					<i class="fas fa-search"></i>
				</button>
			</div> #}
			{# <button onclick="showModalNewCustomer()" type="button" class="btn btn-success align-self-right mr-2"> <i class="fas fa-plus"></i> Nuevo</button> #}
		</div>
		<br>
		<table id="recibidosTable" class="table">
			<thead>
				{# <tr>
					<th class="col-4">Nombre</th>
					<th class="col-2">Documento</th>
					<th class="col-4">Correo</th>
					<th class="col-2">Teléfono</th>
				</tr> #}
			</thead>
			<tbody id="recibidosTableBody">
				
			</tbody>
		</table>
	</div>
</div>
