<div class="tab-pane fade" id="resoluciones-data" role="tabpanel">
	<div class="d-flex flex-row-reverse"><button class="btn btn-info notShowMobile" onclick="openModalLoadResolution()" >Cargar resoluciones</button></div>
	<div class="containerTable" style="max-height: 30%;">
    	<table class="table">
			<thead>
				<tr>
					<th>Resolución</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody id="tbodyCompaniesResolucionesData" ></tbody>
		</table>
    </div>
</div>




<div class="modal fade" id="modalLoadResolutions" tabindex="-1" role="dialog"  aria-labelledby="" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title">Cargar resoluciones</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" id="idFormLoadResolutions" >

					<div class="row mb-1">
    					<div class="form__group field w-100 d-flex" style="margin: auto;">
    						<label class="mt-2 col-4">Fecha de emisión</label>
							<input type="date" id="emitterDate" name="emitterDate" class="form__field" placeholder="Fecha de emisión" />
						</div>
					</div>

					<div class="row mb-1">
    					<div class="form__group field w-100 d-flex" style="margin: auto;">
    						<label class="mt-2 col-4">Resolución EFactura</label>
							<input type="text" id="dgiResolutionEFact" name="dgiResolutionEFact" class="form__field" placeholder="Resolución EFactura" />
						</div>
					</div>
					<div class="row mb-1">
    					<div class="form__group field w-100 d-flex" style="margin: auto;">
    						<label class="mt-2 col-4">Resolución EResguardo</label>
							<input type="text" id="dgiResolutionERes" name="dgiResolutionERes" class="form__field" placeholder="Resolución EResguardo" />
						</div>
					</div>
					<div class="row mb-1">
    					<div class="form__group field w-100 d-flex" style="margin: auto;">
    						<label class="mt-2 col-4">Resolución ERemito</label>
							<input type="text" id="dgiResolutionERem" name="dgiResolutionERem" class="form__field" placeholder="Resolución ERemito" />
						</div>
					</div>
					<div class="row mb-1">
    					<div class="form__group field w-100 d-flex" style="margin: auto;">
    						<label class="mt-2 col-4">Resolución EFactura Exportación</label>
							<input type="text" id="dgiResolutionEFacExp" name="dgiResolutionEFacExp" class="form__field" placeholder="Resolución EFactura Exportación" />
						</div>
					</div>
					<div class="row mb-1">
    					<div class="form__group field w-100 d-flex" style="margin: auto;">
    						<label class="mt-2 col-4">Resolución EFactura Cuenta Ajena</label>
							<input type="text" id="dgiResolutionCtaAjena" name="dgiResolutionCtaAjena" class="form__field" placeholder="Resolución EFactura Cuenta Ajena" />
						</div>
					</div>
					<div class="row mb-1">
    					<div class="form__group field w-100 d-flex" style="margin: auto;">
    						<label class="mt-2 col-4">Resolución EBoleta de Entrada</label>
							<input type="text" id="dgiResolutionEBolEntrada" name="dgiResolutionEBolEntrada" class="form__field" placeholder="Resolución EBoleta de Entrada" />
						</div>
					</div>

					<div class="row d-flex flex-row-reverse">
						<button class="btn btn-success">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>