{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center" tabindex="-1">
	<div class="card shadow mt-4" style="min-width: 350px; max-width: 500px;">
		<div class="card-header background-template-color text-template-color font-italic h6">
			Iniciar sesión
		</div>
		<div class="card-body">
			<div class="d-flex justify-content-center">
				<div class="form-group w-75">
					<label>Entorno</label>
					<select name="" id="entornoSelect" class="form-control">
						<option value="prod">PRODUCCIÓN</option>
						<option value="test">TESTING</option>
					</select>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<div class="form-group w-75">
					<label for="inputUser">Correo</label>
					<input type="text" class="form-control shadow-sm" id="inputUser" value="{{ paramUser }}" placeholder="Correo" tabindex="2">
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<div class="form-group w-75">
					<label for="inputPassword">Contraseña</label>
					<input type="password" class="form-control shadow-sm" id="inputPassword" placeholder="Contraseña" tabindex="3">
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="d-flex justify-content-between">
				<a class="btn btn-danger shadow-sm" href="{{ path_for('Start') }}" tabindex="5">Cancelar</a>
				<button id="buttonConfirm" class="btn btn-success shadow-sm" onclick="signIn()" tabindex="4">Confirmar</button>
			</div>
		</div>
	</div>
</div>
{% block script %}
	<script type="text/javascript" src="{{ path_for('Start') }}scripts/signin.js{{ version }}"></script>
{% endblock %}
{% endblock %}