<div class="vertical-nav bg-light" id="sidebar">
    <div class="py-4 px-3 mb-3 background-template-color">
        <div class="media d-flex justify-content-center ">
            <a href="{{ path_for('Start') }}">
                <img src="{{path_for('Start')}}img/LogoHeader.png" alt="Logo empresarial" width="150">
            </a>
        </div>
    </div>
    {% include("companieDataNav.twig") %}
</div>